<div>
<!--  <img [src]="book?.imageUrl" [alt]="book?.name">-->

  <div class="row">
    <div class="col-md-11">
      <h2>{{book?.title}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Id:</strong> {{book?.id}}</div>
      <div><strong>Genre:</strong> {{book?.genre}}</div>
      <div><strong>Created at:</strong> {{book?.createdAt}}</div>
      <div><strong>Updated at:</strong> {{book?.updatedAt}}</div>
    </div>
<!--    <div class="col-md-6">-->
<!--      <address>-->
<!--        <strong>Address:</strong><br />-->
<!--        {{book?.location?.address}}<br />-->
<!--        {{book?.location?.city}}, {{book?.location?.country}}-->
<!--      </address>-->
<!--    </div>-->
  </div>
</div>
